<!-- <?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">


	<context:property-placeholder location="classpath:config/config.properties" />
	
	<context:component-scan base-package="org.biswajit"/>

	<bean id="dataSource" class="org.apache.tomcat.dbcp.dbcp.BasicDataSource">
		<property name="driverClassName" value="${mysql.driverClassName}" />
		<property name="url" value="${mysql.url}" />
		<property name="username" value="${mysql.username}" />
		<property name="password" value="${mysql.password}" />
	</bean>

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />

		Each time need to add classes manually <property name="annotatedClasses"> 
			<list> <value>org.biswajit.data.entities.User</value> <value>org.biswajit.data.entities.Credential</value> 
			<value>org.biswajit.data.entities.Account</value> <value>org.biswajit.data.entities.Bank</value> 
			<value>org.biswajit.data.entities.Budget</value> <value>org.biswajit.data.entities.Transaction</value> 
			</list> </property>
		Scan the package add it on session factory
		<property name="packagesToScan" value="org.biswajit.data.entities" />

		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop>
				<prop key="hibernate.temp.use_jdbc_metadata_defaults">false</prop>
				<prop key="hibernate.show_sql">${mysql.show_sql}</prop>
				<prop key="hibernate.format_sql">${mysql.format_sql}</prop>
				for lazy InitialLization
				<prop key="hibernate.enable_lazy_load_no_trans">true</prop>
			</props>
		</property>
	</bean>

	<bean class="org.springframework.orm.hibernate5.HibernateTemplate">
		<constructor-arg ref="sessionFactory" />
	</bean>
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate5.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
		<property name="dataSource" ref="dataSource"></property>
	</bean>

	<tx:annotation-driven />
</beans>
 -->